auth_enabled: false

server:
  http_listen_port: 3100

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage_config:
    boltdb_shipper:
      active_index_directory: /loki/data/loki/index
      cache_location: /loki/data/loki/cache
      resync_interval: 5s
    filesystem:
      directory: /loki/data/loki/chunks
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

