server:
  http_listen_port: 9080

positions:
  filename: /run/promtail/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: docker
  docker_sd_configs:
    - hostnames: ['localhost']
      refresh_interval: 5s
  relabel_configs:
    - source_labels: ['__container_name__']
      target_label: container

