global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
  - job_name: 'uptime_kuma'
    static_configs:
      - targets: ['uptime-kuma:3001']
  - job_name: 'nginx_exporter'
    static_configs:
      - targets: ['nginx-exporter:9113']

